
* {
    box-sizing: border-box;
}
body{
    background-color:grey;
    margin: auto;
    overflow: auto;
}

#Header{
    background-color: white;
    width: 100%;
    height: 50px;
    border-bottom: 5px  #cccccc;
    overflow: auto;
}

#Name{
    float: left;
    background-color: rgb(187, 127, 255);
    padding: 10px;
    margin-top: 3px;
    color: white;
}

#main-container{
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: auto;
    background: #ffffff;
    border: 1px solid #dddddd;
}

.main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
  }

nav{
    float: right;
    margin-top: 3px;
    padding: 10px;

}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }

footer{
    background-color: white;
    text-align: center;
    height: 50px;
    padding: 30px;
    margin-top: 25%;
}
.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}